<h2><%= l(:label_home) %></h2>

<div class="splitcontent">
<div class="splitcontentleft">
  <div class="wiki">
    <%= textilizable Setting.welcome_text %>
  </div>
  <%= call_hook(:view_welcome_index_left) %>



 
    <div class="row mt-6">
     <div class="col-md-12 col-md-12">
        <nav class="nav nav-pills nav-fill col-md-12" >
           <%= link_to(@monitoramentoProjeto.name, project_path(@monitoramentoProjeto), :class => @monitoramentoProjeto.css_classes + " nav-link active col-md-10").html_safe %>
                   
          <div class="dropdown">
            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownmenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              + Monitoramentos
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownmenu">
            <% projetos = Project.where(parent_id: nil) %>
            <% for project in projetos %>
                <li><a class="dropdown-item <%= project.id == @monitoramentoProjeto.id ? 'disabled':''  %>" href="?monitoramentoId=<%= @monitoramentoProjeto.id %>">
                  <%= project.name %>
                </a></li>
            <% end %>
            </ul>
          </div>  
         </nav>
       </div>

      <p></p>
      <div class="col-md-12 col-12">
        <nav class="nav nav-pills nav-fill col-md-12">
          <%= link_to(@objetivoProjeto.name, project_path(@objetivoProjeto), :class => @objetivoProjeto.css_classes + " nav-link active col-md-8").html_safe %>

          <div class="dropdown col-md-2">
            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownmenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              + Objetivos
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownmenu">
            <% subprojectsMonitoramento = @monitoramentoProjeto.children.visible.to_a %>
            <% if subprojectsMonitoramento.any? %>
          	  <% subprojectsMonitoramento.each do |subProject| %>
                <% splitName = subProject.name.split %>
                <% nomeSubProjeto = '' %>
            	  <% splitName.each_with_index do |name, index| %>
                  <% nomeSubProjeto += name + ' ' %>
                  <% break if index > 6 %>
                <% end %>
                <% nomeSubProjeto += '...' %>
                <li><a class="dropdown-item <%= subProject.id == @objetivoProjeto.id ? 'disabled':''  %>" href="?monitoramentoId=<%= @monitoramentoProjeto.id %>&objetivoId=<%= @objetivoProjeto.id %>">
                  <%= nomeSubProjeto %>
                </a></li>
              <% end %>
            <% end %>
            </ul>                
          </div>
        </nav>
     </div>

  <p style="padding-left: 30px; color: #000; font-size: small;"> <%= @objetivoProjeto.description %></p>
  </div>

  <div class="container-fluid mt-n22 px-6">
    <div class="row">
    <% subprojectsObjetivos = @objetivoProjeto.children.visible.to_a %>
    <% if subprojectsObjetivos.any? %>
      <% subprojectsObjetivos.each do |resultadoChave| %>
      <div class="col-xl-3 col-lg-6 col-md-12 col-12 mt-6">
      <!-- card -->
        <div class="card <%= resultadoChave.id == @krProjeto.id ? ' cticardselecionado ':' cticardnaoselecionado '  %> rounded-3">
          <!-- card body -->
          <div class="card-body">
            <!-- heading -->
            <div class="d-flex justify-content-between align-items-center  mb-3">
              <div>
                <p class="text-white">    	  
                  <%= link_to(resultadoChave.name, project_path(resultadoChave), :class => resultadoChave.css_classes).html_safe %>
                </p>
              </div>
            </div>
            <!-- project number -->
            <div>
              <h1 class="text-white">80%</h1>
              <p class="mb-0"><span class="text-white me-2">03 Indicadores</span></p>
            </div>
          </div>
        </div>
      </div>
      <% end %> 
    <% end %>
    </div>
  </div>




          <!-- row  -->
          <div class="row mt-6">
            <div class="col-md-12 col-12">
              <!-- card  -->
              <div class="card">
                <!-- card header  -->
                <div class="card-header bg-white border-bottom-0 py-4">
                  <h4 class="mb-0">ATIVIDADES</h4>
                </div>
                <!-- table  -->
                <div class="table-responsive">
                  <table class="table text-nowrap mb-0">
                    <thead class="table-light">
                      <tr>
                        <th>Ação</th>
                        <th>Indicador</th>
                        <th>Prioridade</th>
                        <th>Responsável</th>
                        <th>Progresso</th>
                      </tr>
                    </thead>
                    <tbody>


    <% tarefasKR = @krProjeto.issues %>
    <% if tarefasKR.any? %>
      <% tarefasKR.each do |tarefa| %>



                      <tr>
                        <td class="align-middle">
                              <h7 class=""> 
                                <a href="#" class="">
                                  <%= tarefa.subject %>
                                </a>
                              </h7>
                        </td>
                        <td class="align-middle">Indicador 01</td>
                        <td class="align-middle">
                          <span class="badge bg-success">
                          <%= tarefa.priority.name %>
                          </span></td>
                        <td class="align-middle"><div class="avatar-group">
                          <b><p> <%= tarefa.assigned_to.is_a?(User) ? tarefa.assigned_to.name : 'Não designado' %></p></b>
                           
                           
                          </div></td>
                        <td class="align-middle text-dark"><div
                            class="float-start me-3"><%= tarefa.done_ratio %>%</div>
                          <div class="mt-2">
                            <div class="progress" style="height: 5px;">
                              <div class="progress-bar" role="progressbar"
                                style="width:<%= tarefa.done_ratio %>%" aria-valuenow="<%= tarefa.done_ratio %>"
                                aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </div>
                        </td>
                      </tr>
      <% end %> 
    <% end %>


                    </tbody>
                  </table>
                </div>
                <!-- card footer  -->
                <div class="card-footer bg-white text-center">
                  <a href="#">Ver todos Projects</a>

                </div>
              </div>

            </div>
          </div>
          <!-- row  -->
          <div class="row my-6">
            <div class="col-xl-4 col-lg-12 col-md-12 col-12 mb-6 mb-xl-0">
              <!-- card  -->
              <div class="card h-100">
                <!-- card body  -->
                <div class="card-body">
                  <div class="d-flex align-items-center
                    justify-content-between">
                    <div>
                      <h4 class="mb-0">Desempenho de tarefas </h4>
                    </div>
                    <!-- dropdown  -->
                    <div class="dropdown dropstart">
                      <a class="text-muted text-primary-hover" href="#"
                        role="button" id="dropdownTask" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="icon-xxs" data-feather="more-vertical"></i>
                      </a>
                      
                    </div>
                  </div>
                  <!-- chart  -->
                  <div class="mb-8">
                    <div id="perfomanceChart"></div>
                  </div>
                  <!-- icon with content  -->
                  <div class="d-flex align-items-center justify-content-around">
                    <div class="text-center">
                      <i class="icon-sm text-success"
                        data-feather="check-circle"></i>
                      <h1 class="mt-3 fw-bold mb-1">76%</h1>
                      <p>Completos</p>
                    </div>
                    <div class="text-center">
                      <i class="icon-sm text-warning"
                        data-feather="trending-up"></i>
                      <h1 class="mt-3 fw-bold mb-1">32%</h1>
                      <p>Em progresso</p>
                    </div>
                    <div class="text-center">
                      <i class="icon-sm text-danger"
                        data-feather="trending-down"></i>
                      <h1 class="mt-3 fw-bold mb-1">13%</h1>
                      <p>Atrasadas</p>
                    </div>
                    <div class="text-center">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- card  -->
            <div class="col-xl-8 col-lg-12 col-md-12 col-12">
              <div class="card h-100">
                <!-- card header  -->
                <div class="card-header bg-white border-bottom-0 py-4">
                  <h4 class="mb-0">Equipe </h4>
                </div>
                <!-- table  -->
                <div class="table-responsive">
                  <table class="table text-nowrap">
                    <thead class="table-light">
                      <tr>
                        <th>Nome</th>
                        <th>Cargo</th>
                        <th>Última Atividade</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="align-middle">
                          <div class="d-flex align-items-center">
                            <div>
                              <img src="assets/images/avatar/avatar.jpg"
                                alt="" class="avatar-md avatar rounded-circle">
                            </div>
                            <div class="ms-3 lh-1">
                              <h5 class="fw-bold mb-1">IVANA</h5>
                              <p class="mb-0">ivana@mulheres.gov.br</p>
                            </div>
                          </div>
                        </td>
                        <td class="align-middle">Coordenadora </td>
                        <td class="align-middle">3 Outubro 2023</td>
                        <td class="align-middle">
                          <div class="dropdown dropstart">
                            <a class="text-muted text-primary-hover" href="#"
                              role="button" id="dropdownTeamOne"
                              data-bs-toggle="dropdown" aria-haspopup="true"
                              aria-expanded="false">
                              <i class="icon-xxs" data-feather="more-vertical"></i>
                            </a>
                            
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="align-middle">
                          <div class="d-flex align-items-center">
                            <div>
                              <img src="assets/images/avatar/avatar.jpg"
                                alt="" class="avatar-md avatar rounded-circle">
                            </div>
                            <div class="ms-3 lh-1">
                              <h5 class="fw-bold mb-1">Simone</h5>
                              <p class="mb-0">simone@mulheres.gov.br</p>
                            </div>
                          </div>
                        </td>
                        <td class="align-middle">Chefe de Divisão</td>
                        <td class="align-middle">04 outubro 2023</td>
                        <td class="align-middle">
                          <div class="dropdown dropstart">
                            <a class="text-muted text-primary-hover" href="#"
                              role="button" id="dropdownTeamTwo"
                              data-bs-toggle="dropdown" aria-haspopup="true"
                              aria-expanded="false">
                              <i class="icon-xxs" data-feather="more-vertical"></i>
                            </a>
                            
                          </div>
                        </td>
                      </tr>
                      
                           
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>

  <% if @news.any? %>
<div class="splitcontentright">
  <div class="news box">
  <h3><%=l(:label_news_latest)%></h3>
    <%= render :partial => 'news/news', :collection => @news %>
    <%= link_to l(:label_news_view_all), :controller => 'news' %>
  </div>
  <%= call_hook(:view_welcome_index_right) %>
</div>
  <% end %>
</div>

<% content_for :header_tags do %>
<%= auto_discovery_link_tag(:atom, {:controller => 'news', :action => 'index', :key => User.current.atom_key, :format => 'atom'},
                                   :title => "#{Setting.app_title}: #{l(:label_news_latest)}") %>
<%= auto_discovery_link_tag(:atom, {:controller => 'activities', :action => 'index', :key => User.current.atom_key, :format => 'atom'},
                                   :title => "#{Setting.app_title}: #{l(:label_activity)}") %>
<% end %>
