

<div class="splitcontent">
<div class="splitcontentleft">
  <div class="wiki">
    <%= textilizable Setting.welcome_text %>
  </div>
  <%= call_hook(:view_welcome_index_left) %>



<div class="row mt-6">
    <div class="row">
      <div class="accordion" id="accordionPanelMonitoramento">
        <div class="accordion-item">
          <h3 class="accordion-header" id="panelMonitoramento-headid<%= @monitoramentoProjeto.id %>">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelMonitoramento-id<%= @monitoramentoProjeto.id %>" aria-expanded="true" aria-controls="panelMonitoramento-id<%= @monitoramentoProjeto.id %>">
              <%= link_to(@monitoramentoProjeto.name, project_path(@monitoramentoProjeto), :class => @monitoramentoProjeto.css_classes + " nav-link active col-md-10").html_safe %>
            </button>
          </h3>
          <div id="panelMonitoramento-id<%= @monitoramentoProjeto.id %>" class="accordion-collapse collapse show" aria-labelledby="panelMonitoramento-headid<%= @monitoramentoProjeto.id %>">
            <div class="accordion-body">
             <p style="padding-left: 18px; color: #000; font-size: 18px;"> <%= @monitoramentoProjeto.description %></p>
              <% subprojectsMonitoramento = @monitoramentoProjeto.children.visible.to_a %>
              <% if subprojectsMonitoramento.any? %>
                <% subprojectsMonitoramento.each do |objetivo| %>

            <div class="accordion" id="accordionPanelObjetivos-id<%= objetivo.id %>">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelObjetivos-headid<%= objetivo.id %>">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelObjetivos-id<%= objetivo.id %>" aria-expanded="true" aria-controls="panelObjetivos-id<%= objetivo.id %>">
                       <%= link_to(objetivo.name, project_path(objetivo), :class => objetivo.css_classes + " nav-link active col-md-8").html_safe %>
                    </button>
                  </h2>
                  <div id="panelObjetivos-id<%= objetivo.id %>" class="accordion-collapse collapse show" aria-labelledby="panelObjetivos-headid<%= objetivo.id %>">
                    <div class="accordion-body">
                     <%= link_to(objetivo.name, project_path(objetivo), :class => objetivo.css_classes + " nav-link active col-md-8").html_safe %>
                     <p></p>
                     <p style="padding-left: 18px; color: #000; font-size: 18px;"> <%= objetivo.description %></p>
                    <div class="accordion" id="accordionPanelResultados">
                    <% subprojectsObjetivos = objetivo.children.visible.to_a %>
                    <% if subprojectsObjetivos.any? %>
                      <% subprojectsObjetivos.each do |resultadoChave| %>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="panelResultado-headid<%= resultadoChave.id %>">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-panelResultado-id<%= resultadoChave.id %>" aria-expanded="true" aria-controls="panelsStayOpen-panelResultado-id<%= resultadoChave.id %>">
                                <%= link_to(resultadoChave.name, project_path(resultadoChave), :class => resultadoChave.css_classes).html_safe %>
                            </button>
                          </h2>
                          <div id="panelsStayOpen-panelResultado-id<%= resultadoChave.id %>" class="accordion-collapse collapse <%= resultadoChave.id == @krProjeto.id ? 'show': '' %>" aria-labelledby="panelResultado-headid<%= resultadoChave.id %>">
                            <div class="accordion-body">
                                <%= link_to(resultadoChave.name, project_path(resultadoChave), :class => resultadoChave.css_classes).html_safe %>
                                <p style="padding-left: 18px; color: #000; font-size: 18px;"> <%= resultadoChave.description %></p>
                                <div class="row mt-6">
                                  <div class="col-md-12 col-12">
                                    <div class="card">
                                      <div class="card-header bg-white border-bottom-0 py-4">
                                        <h4 class="mb-0">ATIVIDADES</h4>
                                      </div>
                                      <div class="table-responsive">
                                        <table class="table text-nowrap mb-0">
                                          <thead class="table-light">
                                            <tr>
                                              <th>Ação</th> <th>Indicador</th> <th>Prioridade</th> <th>Responsável</th> <th>Progresso</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                          <% tarefasKR = resultadoChave.issues %>
                                          <% if tarefasKR.any? %>
                                            <% tarefasKR.each do |tarefa| %>
                                            <tr>
                                              <td class="align-middle">
                                                  <h7 class=""> 
                                                    <a href="#" class="">
                                                      <%= tarefa.subject %>
                                                    </a>
                                                  </h7>
                                              </td>
                                              <td class="align-middle">Indicador 01</td>
                                              <td class="align-middle">
                                                <span class="badge bg-success">
                                                <%= tarefa.priority.name %>
                                                </span></td>
                                              <td class="align-middle"><div class="avatar-group">
                                                <b><p> <%= tarefa.assigned_to.is_a?(User) ? tarefa.assigned_to.name : 'Não designado' %></p></b>
                                                </div></td>
                                              <td class="align-middle text-dark"><div
                                                  class="float-start me-3"><%= tarefa.done_ratio %>%</div>
                                                <div class="mt-2">
                                                  <div class="progress" style="height: 5px;">
                                                    <div class="progress-bar" role="progressbar"
                                                      style="width:<%= tarefa.done_ratio %>%" aria-valuenow="<%= tarefa.done_ratio %>"
                                                      aria-valuemin="0" aria-valuemax="100"></div>
                                                  </div>
                                                </div>
                                              </td>
                                            </tr>
                                          <% end %> 
                                        <% end %>
                                          </tbody>
                                        </table>
                                      </div>
                                      <!-- card footer  -->
                                      <div class="card-footer bg-white text-center">
                                        <a href="#">Ver todos Projects</a>
                                      </div>
                                    </div>
                      
                                  </div>
                                </div>
                                <br />
                                <!-- row  -->
                                <div class="row my-6">
                                  <div class="col-xl-4 col-lg-12 col-md-12 col-12 mb-6 mb-xl-0">
                                    <!-- card  -->
                                    <div class="card h-100">
                                      <!-- card body  -->
                                      <div class="card-body">
                                        <div class="d-flex align-items-center
                                          justify-content-between">






  <% if resultadoChave.homepage.present? || resultadoChave.visible_custom_field_values.any? { |o| o.value.present? } %>
  <ul>
  <% unless resultadoChave.homepage.blank? %>
    <li><span class="label"><%=l(:field_homepage)%>:</span> <%= link_to_if uri_with_safe_scheme?(resultadoChave.homepage), resultadoChave.homepage, resultadoChave.homepage %></li>
  <% end %>
  <% render_custom_field_values(resultadoChave) do |custom_field, formatted| %>
    <li class="<%= custom_field.css_classes %>"><span class="label"><%= custom_field.name %>:</span> <%= formatted %></li>
  <% end %>
  </ul>
  <% end %>

  <% if User.current.allowed_to?(:view_issues, resultadoChave) %>
  <div class="issues box">
    <h3 class="icon icon-issue">
      <%=l(:label_issue_tracking)%>&nbsp;
      <%= link_to l(:label_details),
            project_issues_report_details_path(resultadoChave, :detail => 'tracker'),
            :class => 'icon-only icon-zoom-in',
            :title => l(:label_details) %>
    </h3>

    with_subprojects = Setting.display_subprojects_issues?
    <% trackers = resultadoChave.rolled_up_trackers(with_subprojects).visible %>

    <% if trackers.present? %>
    <table class="list issue-report">
      <thead>
        <tr>
          <th></th>
          <th><%=l(:label_open_issues_plural)%></th>
          <th><%=l(:label_closed_issues_plural)%></th>
          <th><%=l(:label_total)%></th>
        </tr>
      </thead>
      <tbody>
      <% trackers.each do |tracker| %>
        <tr>
          <td class="name">
            <%= link_to tracker.name, project_issues_path(resultadoChave, :set_filter => 1, :tracker_id => tracker.id), :title => tracker.description %>
          </td>
          <td>
            <%= link_to @open_issues_by_tracker[tracker].to_i, project_issues_path(resultadoChave, :set_filter => 1, :tracker_id => tracker.id) %>
          </td>
          <td>
            <%= link_to (@total_issues_by_tracker[tracker].to_i - @open_issues_by_tracker[tracker].to_i), project_issues_path(resultadoChave, :set_filter => 1, :tracker_id => tracker.id, :status_id => 'c') %>
          </td>
          <td class="total">
            <%= link_to @total_issues_by_tracker[tracker].to_i, project_issues_path(resultadoChave, :set_filter => 1, :tracker_id => tracker.id, :status_id => '*') %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <% end %>
    <p>
      <%= link_to l(:label_issue_view_all), project_issues_path(resultadoChave, :set_filter => 1) %>
      | <%= link_to l(:field_summary), project_issues_report_path(resultadoChave) %>
      <% if User.current.allowed_to?(:view_calendar, resultadoChave, :global => true) %>
        | <%= link_to l(:label_calendar), project_calendar_path(resultadoChave) %>
      <% end %>
      <% if User.current.allowed_to?(:view_gantt, resultadoChave, :global => true) %>
        | <%= link_to l(:label_gantt), project_gantt_path(resultadoChave) %>
      <% end %>
    </p>
  </div>
  <% end %>














                                        </div>

                                      </div>
                                    </div>
                                  </div>
                                  <!-- card  -->
                                  <div class="col-xl-8 col-lg-12 col-md-12 col-12">
                                    <div class="card h-100">
                                      <!-- card header  -->
                                      <div class="card-header bg-white border-bottom-0 py-4">
                                        <h4 class="mb-0">Equipe </h4>
                                      </div>
                                      <!-- table  -->
                                      <div class="table-responsive">
                                        <table class="table text-nowrap">
                                          <thead class="table-light">
                                            <tr>
                                              <th>Nome</th>
                                              <th>Cargo</th>
                                              <th>Última Atividade</th>
                                              <th></th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <td class="align-middle">
                                                <div class="d-flex align-items-center">
                                                  <div>
                                                    <img src="assets/images/avatar/avatar.jpg"
                                                      alt="" class="avatar-md avatar rounded-circle">
                                                  </div>
                                                  <div class="ms-3 lh-1">
                                                    <h5 class="fw-bold mb-1">IVANA</h5>
                                                    <p class="mb-0">ivana@mulheres.gov.br</p>
                                                  </div>
                                                </div>
                                              </td>
                                              <td class="align-middle">Coordenadora </td>
                                              <td class="align-middle">3 Outubro 2023</td>
                                              <td class="align-middle">
                                                <div class="dropdown dropstart">
                                                  <a class="text-muted text-primary-hover" href="#"
                                                    role="button" id="dropdownTeamOne"
                                                    data-bs-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">
                                                    <i class="icon-xxs" data-feather="more-vertical"></i>
                                                  </a>
                                                  
                                                </div>
                                              </td>
                                            </tr>
                                            <tr>
                                              <td class="align-middle">
                                                <div class="d-flex align-items-center">
                                                  <div>
                                                    <img src="assets/images/avatar/avatar.jpg"
                                                      alt="" class="avatar-md avatar rounded-circle">
                                                  </div>
                                                  <div class="ms-3 lh-1">
                                                    <h5 class="fw-bold mb-1">Simone</h5>
                                                    <p class="mb-0">simone@mulheres.gov.br</p>
                                                  </div>
                                                </div>
                                              </td>
                                              <td class="align-middle">Chefe de Divisão</td>
                                              <td class="align-middle">04 outubro 2023</td>
                                              <td class="align-middle">
                                                <div class="dropdown dropstart">
                                                  <a class="text-muted text-primary-hover" href="#"
                                                    role="button" id="dropdownTeamTwo"
                                                    data-bs-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">
                                                    <i class="icon-xxs" data-feather="more-vertical"></i>
                                                  </a>
                                                  
                                                </div>
                                              </td>
                                            </tr>
                                            
                                                 
                                            
                                          </tbody>
                                        </table>
                                      </div>
                                    </div>
                                  </div>
                                </div>



                            </div>
                         </div>
                        </div>           
                      <% end %> 
                    <% end %>
                    </div>


                    </div>
                 </div>
               </div>
            </div>
              <% end %> 
            <% end %>

            </div>
         </div>
       </div>
    </div>





<p></p>


        </div>
      </div>
    </div>

</div>

  <% if @news.any? %>
<div class="splitcontentright">
  <div class="news box">
  <h3><%=l(:label_news_latest)%></h3>
    <%= render :partial => 'news/news', :collection => @news %>
    <%= link_to l(:label_news_view_all), :controller => 'news' %>
  </div>
  <%= call_hook(:view_welcome_index_right) %>
</div>
  <% end %>
</div>

<% content_for :header_tags do %>
<%= auto_discovery_link_tag(:atom, {:controller => 'news', :action => 'index', :key => User.current.atom_key, :format => 'atom'},
                                   :title => "#{Setting.app_title}: #{l(:label_news_latest)}") %>
<%= auto_discovery_link_tag(:atom, {:controller => 'activities', :action => 'index', :key => User.current.atom_key, :format => 'atom'},
                                   :title => "#{Setting.app_title}: #{l(:label_activity)}") %>
<% end %>
