# encoding: UTF-8


<h3>Configuracoes do Plugin CTI-REDMINE</h3>

<p>
  <label for="projetoId_inicial">projetoId_inicial: O ID do projeto inicial a ser visualizado</label>
  <input type="text" id="projetoId_inicial" value="<%= settings['projetoId_inicial'] %>" name="settings[projetoId_inicial]" required style="width:90%"/>
</p>
<br />

<p>
  <label for="objetivoId_inicial ">objetivoId_inicial : O ID do OBJETIVO inicial a ser visualizado</label>
  <input type="text" id="objetivoId_inicial " value="<%= settings['objetivoId_inicial '] %>" name="settings[objetivoId_inicial ]" required style="width:90%"/>
</p>
<br />

<p>
  <label for="krId_inicial ">krId_inicial : O ID do KR (Resultado Chave) inicial a ser visualizado</label>
  <input type="text" id="krId_inicial " value="<%= settings['krId_inicial '] %>" name="settings[krId_inicial ]" required style="width:90%"/>
</p>
<br />


<p>
  <label for="pdtic_wiki">Link projeto:wiki do PDTIC do CNPq</label>
  <input type="text" id="pdtic_wiki" value="<%= settings['pdtic_wiki_inicial'] %>" name="settings[pdtic_wiki_inicial]" required style="width:90%"/>
</p>
<br />


<p>
  <label for="contrato_wiki">Link projeto:wiki de gestão de Contratos</label>
  <input type="text" id="contrato_wiki" value="<%= settings['contrato_wiki_inicial'] %>" name="settings[contrato_wiki_inicial]" required style="width:90%"/>
</p>

<p>
  <label for="id_query_lista_os">ID da Query com Lista de OS's</label>
  <input type="text" id="id_query_lista_os" value="<%= settings['id_query_lista_os'] %>" name="settings[id_query_lista_os]" required style="width:90%"/>
</p>

<p>
  <label for="id_tracker_os">ID do Tipo de Tarefa de OS</label>
  <input type="text" id="id_tracker_os" value="<%= settings['id_tracker_os'] %>" name="settings[id_tracker_os]" required style="width:90%"/>
</p>


<br />